body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.zuikio-darzove {
  font-size: 1.2rem;
  background-color: green;
}

.zuikio-darzo-error {
  font-size: 1.2rem;
  background-color: red;
}